@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            <p>Фамилия</p>
        </th>
        <th>
            <p>Количество</p>
        </th>
    </tr>
    @foreach (var item in ViewBag.count)
    {
    <tr>
        <td>
            <p>@item.Surname</p>
        </td>
        <td>
            <p>@item.Count</p>
        </td>
    </tr>
    }
</table>
