
@{
    ViewBag.Title = "Reg";
}

<div class="container mregister">
    <div id="registerfrom">
        <h1>Регистрация</h1>
        <form action="" id="registerform" method="post">
            <p>
                <label for="user_login">
                    Введите логин<br>
                    <input class="form-control" id="username" name="LOGIN" size="20" type="text" value="">
                </label>
            </p>
            <p>
                <label for="user_pass">
                    Введите пароль<br>
                    <input class="form-control" id="password" name="PASSWORD" size="20" type="password" value="">
                </label>
            </p>

            <input class="btn btn-success" id="registr" type="submit" value="Зарегистрироваться">
            <p class="text-danger">@Session["username_exist"]</p>
            <p class="regtext">
                Уже зарегистрированы? <ul class="pager">
                    <li class="previous">@Html.ActionLink("Авторизация", "Index", "Home")</li>
                </ul>
            </p>
        </form>
    </div>
</div>

