@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-2">
        <h2>Собаки</h2>
    </div>
    <div class="input-group col-md-8">
        @using (Ajax.BeginForm("GetDogs", new AjaxOptions { UpdateTargetId = "results" }))
        {   
        <div style="margin-top:20px">
            @Html.DropDownList("BREED_ID", ViewBag.ID_BREED as SelectList, htmlAttributes: new { @class = "form-control" })
            <button type="submit" class="btn btn-default" style="margin-left:10px; margin-right:5px">Выбрать</button>
            <span class="label label-default">Выбор породы</span>
        </div>
            
        }
    </div>
   
</div>

<table class="table" id="results"></table>

@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

