@model KursavayaDogClub.Models.STREET

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверенны, что хотите удалить запись?</h3>
<div>
    <h4>УЛИЦА</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Улица")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STREET_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" />
            <ul class="pager">
                <li class="previous">@Html.ActionLink("Вернуться", "Index")</li>
            </ul>
        </div>
    }
</div>
