@model KursavayaDogClub.Models.AUTORIZE

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mlogin">
    <div id="login">
        <h1>Вход</h1>
        <form action="" id="loginform" method="post" name="loginform">
            <p>
                <label for="user_login">
                    Имя пользователя<br>
                    <input class="input" id="username" name="username" size="20"
                           type="text" value="">
                </label>
            </p>
            <p>
                <label for="user_pass">
                    Пароль<br>
                    <input class="input" id="password" name="password" size="32" type="password" value="">
                </label>
            </p>
            <p class="submit"><input class="button" name="login" type="submit" value="Войти"></p>
            <p><a href="/Registration/Reg">Регистрация</a></p>
        </form>
    </div>
</div>

