@model KursavayaDogClub.Models.AUTORIZE

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mlogin">
    <div id="login">
        <h1>Вход</h1>
        <form action="" id="loginform" method="post" name="loginform">
            <p>
                <label for="user_login">
                    Имя пользователя<br>
                    <input class="form-control" id="username" name="username" size="20"
                           type="text" value="">
                </label>
            </p>
            <p>
                <label for="user_pass">
                    Пароль<br>
                    <input class="form-control" id="password" name="password" size="20" type="password" value="">
                </label>
            </p>
            <input class="btn btn-success" name="login" type="submit" value="Войти">
            <p class="text-danger">@Session["error"]</p>
            <ul class="pager">
                <li class="previous">@Html.ActionLink("Регистрация", "Reg", "Registration")</li>
            </ul>
        </form>
    </div>
</div>

