@model KursavayaDogClub.Models.DISTRICT

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее</h2>

<div>
    <h4>РАЙОН</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Район")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRICT_NAME)
        </dd>

    </dl>
</div>
<ul class="pager">
    <li class="previous">@Html.ActionLink("Вернуться", "Index")</li>
</ul>

